/*
#191c79 - midnight blue
#f9f9f9 - seasalt
#edb431 - xanthous
#62c370 - emerald
#ef233c - pantone red
*/

body{
    background-color: #f9f9f9;
}

nav{
    background-color: #191c79;
    color: #edb431;
}

nav :hover{
    color: #62c370;
}

ul{
    list-style: none;
    display: flex;
    justify-content: right;
}

li{
    margin: 0 7%;
}

#name{
    margin-right: 10%;
    margin-left: 0;
}
    

h1{
    color: #191c79;
}



