body{
    background-color: rgb(246, 235, 19);
}

h1{
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px #000000;
    font-family: sans-serif;
    font-size: 250%;
}

#side{
    display: flex;
}

#buttonsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5%;
    text-align: center;
    color: rgb(239, 29, 44);
    font-family: sans-serif;
    font-size: 150%;
}

#resolution{
    outline: 0;
    border-radius: 6px;
    border: 2px solid rgb(222, 222, 222);
    color: rgb(222, 222, 222);
    background-color: rgb(239, 29, 44);
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    height: 20px;
}

#randomBtn{
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid rgb(222, 222, 222);
    color: rgb(222, 222, 222);
    background-color: rgb(239, 29, 44);
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    height: 42px;
}

#colourBtn{
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid rgb(222, 222, 222);
    color: rgb(222, 222, 222);
    background-color: rgb(0, 0, 0);
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    height: 42px;
}

#resetBtn{
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid rgb(222, 222, 222);
    color: rgb(222, 222, 222);
    background-color: rgb(239, 29, 44);
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    height: 42px;
}

/*ratios needed for square in full screen*/
#sketchpad{
    display: grid;
    height: 95%;
    width: 95%;
}

#gridContainer{
    display: flex;
    justify-content: center;
    background-color: rgb(239, 29, 44);
    height: 85vh;
    width: 55vw;
    align-items: center;
    border-radius: 15px;
    margin-left: 15vw;
}

#colourContainer{
    margin-top: -40%;
}